/node_modules
/.env
/scripts
/0xV2
/0xV4
/AaveeV2
/contracts/BalancerV1
/contracts/Curve
/contracts/Mooniswap
/contracts/oneinch
/contracts/Delegate.sol
/contracts/DemoAdapter.sol
/contracts/ExecutorV2.sol
/contracts/BUSD
/contracts/TokenA
/contracts/USDC
/contracts/USDT